<footer>
    <div class="cc">© 2021 Aalborg University</div>
    <div class="msg">
        <p>Powered by Blockchain Security</p>
        <p><a href="https://gitlab.com/biloen/p2">Learn More</a></p>  
    </div>
</footer>