<div class="registered-header-1">
    You are now registered to vote digitally!
</div>

<div class="registered-header-2">
    We can notify you of upcoming elections.
</div>

<div class="registered-header-3">
    Do you want to enable election notifications?
</div>

<div class="back-to-login-button" id="backToLogin" onclick="back_to_login(event)">
	Back to login
</div>