<script>
    const API = "{{API}}";
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.min.js"></script>
<script src="./js/result.js"></script>
<link rel="stylesheet" href="./css/result.css" type="text/css">
<div class="container">
    <h1>Election status</h1>
    <div id="charts">

    </div>
    <h3>Last modified</h3>
    <div class="last_modified" id="last_modified"></div>
    <div class="button" id="back">back</div>
    <br />
</div>