<link rel="stylesheet" href="./css/contact.css">

<div class="container">
	<h1 class="header-1">Contact Us</h1>

    <div class="messagebox">
        <div>Message</div>
        <br>
        <textarea placeholder="Your message here"></textarea>

    </div>

    <div class="message-2">
        <a><a style="color:red;">NB!</a> We will automatically receive your name and email along with your message. Please don't attach any sensitive information!</a>    
    </div>

    <div class="button" id="contact-submit" onclick="">
        <a>Submit</a>
    </div>
</div>